@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);




body {
  font: 24px/1.5 'Hanna',Arial, Helvetica,sans-serif;
  padding:0;
  margin:auto;
  background-color: #E95353

}


/* Global=모든 목록에 적용하겠다! */

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}



 ul{
   margin:0;
   padding:0;
 }

button {
  height:60px;
  width:120px;

  background:#FAED7D;
  border:0;
  padding-left:10px;
  padding-right:10px;
  color:#E95353;
  font-family: 'Hanna';
  font-size: 20px;


}

/* Header */

  header{
    background:#FAED7D;
    color:#ffffff;
    padding-top: 20px;
    min-height:70px;
    border-bottom:#ffffff 7px solid;

  }

header a{
  color:#ffffff;
  text-decoration: :none;
   text-transform:uppercase;
  font-size:16px
}

header #branding{
  float:left;
}

header #branding h1{
  margin: 0;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}


header nav{
  float:right;
  margin-top:10px


}


header .highlight, header .current a{
  color:#E95353;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:lighter;
}



/* Showcase */



#showcase{
  min-height: 400px;
}




#showcase .start_button{
  position:absolute;
  padding-top:320px;

}
#showcase h1{
  margin-top:100px;
  font-size:70px;
  margin-bottom:10px;
  color:#ffffff;
  float:left;
}

.mario img{

  float:right;

}

#supermariobox {
  margin-top: 30px;
  width:15%;
}


#supermario {
  margin-top:250px;
  width:13%;
  margin-right: 50px;

}
#supermario{

  animation: mysecond 4s linear 1s infinite alternate;
  position: relative; /*이거 안해줬더니 안 움직였음!!!!왜지..ㅜㅅㅜ*/

}
@keyframes mysecond {

       0%  {left:-200px; top: 0px;}


       65% {left:120px; top: 0px;}

       75% {left:150px; top:-80px;}

       80% {left: 150px; top:0px;}

       100% {left:230px; top:0px;}


}

#supermario_mushroom {
  margin-top:360px;
  width:5%;

  margin-right:20px;


}

#supermario_mushroom {


    position: relative;
    animation: myfirst 5s linear 1s infinite alternate;
}
@keyframes myfirst {
    0%   {left:0px; top:0px;}


    100% { left:-600px; top:0px;}
}



/*newsletter*/



#newsletter {
  padding:1px;
  color:#e95353;
  background:#FAED7D;
}

#newsletter p{
  float:left;
  font: 24px;

}

#newsletter form{
  float:right;
  margin-top:25px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/*boxes*/

#boxes {
  margin-top:120px;
  margin-bottom: 200px;


}

#boxes img:hover {
  transform: scale(1.5 , 1.5);
}
#boxes .box{
  float: left;
  text-align: center;
  width:30%;
  padding:40px 5px 20px 5px;
  border-style: solid;
  border-width: thick;
  border-color: white;
  margin-right:10px;
}

#boxes .box img{
  width:120px;

}


#boxes p {
  font-size: 20px;
  font-family:'Hanna',serif;
  color:white;
}
#boxes h3{
  color:white;
}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
  font-family: sans-serif;
  font-size: 8px;
}
